:root {
  --DesaturatedDarkCyan: hsl(180, 29%, 50%); /*for header */
  --LightGrayForBackground: hsl(180, 52%, 96%);
  --LightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
}
@font-face {
  font-family: listingsFont;
  src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');;
  font-weight:500;
}
.app{
  font-size: 15px;
  font-family: listingsFont;
  background: var(--LightGrayForBackground);
}

.header{
  background-image: url("./images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-position-y: -2.5rem;
  height: 5rem;
  width: auto;
  background-color: var(--DesaturatedDarkCyan);
  margin-bottom: 3%;
}

.jobs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  position: relative;
  background-color:whitesmoke;
  margin-bottom: 1.2rem;
  list-style: none;
  padding: 1rem;
}
.left, .right{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:1rem;
}
.right{
  margin-left: 10%;
}
.languages{
  padding:.5rem;
  display: flex;
  justify-content: space-between;
  gap:.5rem;

}
.jobInfo{
  display:flex;
  flex-direction: column;

}
.newAndFeatured, .locationAndType{
  display: flex;
  gap:.8rem;
}
.locationAndType{
  color:var(--DarkGrayishCyan);
  font-size: small;
}
.company{
  font-weight: bold;
  color:var(--DesaturatedDarkCyan)
}
.new{
  background: var(--DesaturatedDarkCyan);
  color:white;
  align-self: center;
}
.featured{
  align-self: center;
}
.role, .level, .language, .tools{
  background-color:rgb(209, 227, 227);;
  color:rgb(9, 164, 164);
  font-size:90%;
  font-weight:800;
}
/* footer */
.fontawe {
  font-size: 1.75em;
}

.footer {
  margin-top: 3%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6em;
  font-size: .95em;
}

.footer-icon {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  color: blue;
}

@media only screen and (max-width: 980px) {
  .jobs {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat( 2fr);
      width: 99vw;
      padding: 5%;
      margin-top: 5%;
    }
    .left{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .right {
      border-top: 1px solid rgb(179, 177, 177);
      margin-left: 0;
      margin-top: 5%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      gap:.5rem;
    }
}